{% extends '::base.html.twig' %}

{% block body %}

<center>

    <font color="#ff8c00" xmlns="http://www.w3.org/1999/html"> <h1>Daily tasks</h1></font>

    <form action="#" method="post" {{ form_enctype(form) }}>

    <div class="border-r">
        {{ form_label(form.main) }}<br>
        {{ form_widget(form.main)}}
    </div>
    <div class="border-r">
        {{ form_label(form.second) }}<br>
        {{ form_widget(form.second)}}
    </div>
    <div class="border-r">
        {{ form_label(form.third) }}<br>
        {{ form_widget(form.third)}}
    </div>
    <div class="border-r">
        {{ form_label(form.end) }}<br>
        {{ form_widget(form.end)}}
    </div>
    <div class="border-r">
        {{ form_label(form.dueDate) }}<br>
        {{ form_widget(form.dueDate)}}
    </div>
        <br>{{ form_widget(form.save) }}
        {{ form_rest(form) }}

    </form>

</center>





{% endblock %}
